<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>keypath</key>
				<string>name</string>
				<key>label</key>
				<string>Name</string>
				<key>controller</key>
				<string>GenericManagedObjectStringEditor</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>General Info</string>
		<key>rows</key>
		<array>
			<dict>
				<key>keypath</key>
				<string>secretIdentity</string>
				<key>label</key>
				<string>Identity</string>
				<key>controller</key>
				<string>GenericManagedObjectStringEditor</string>
			</dict>
			<dict>
				<key>keypath</key>
				<string>sex</string>
				<key>label</key>
				<string>Sex</string>
				<key>controller</key>
				<string>GenericManagedObjectListSelector</string>
				<key>arguments</key>
				<dict>
					<key>list</key>
					<array>
						<string>Male</string>
						<string>Female</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>keypath</key>
				<string>birthdate</string>
				<key>label</key>
				<string>Birthdate</string>
				<key>controller</key>
				<string>GenericManagedObjectDateEditor</string>
				<key>formatMethod</key>
				<string>formattedDateString</string>
			</dict>
			<dict>
				<key>keypath</key>
				<string>city.name</string>
				<key>label</key>
				<string>City</string>
				<key>controller</key>
				<string>GenericManagedObjectToOneRelationshipSelector</string>
				<key>arguments</key>
				<dict>
					<key>allowAdd</key>
					<true/>
					<key>layoutFilename</key>
					<string>CityLayout.plist</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Powers</string>
		<key>rows</key>
		<array>
			<dict>
				<key>keypath</key>
				<string>powers.name</string>
				<key>label</key>
				<string></string>
				<key>controller</key>
				<string>GenericManagedObjectToManyRelationshipSelector</string>
				<key>arguments</key>
				<dict>
					<key>allowAdd</key>
					<true/>
					<key>layoutFilename</key>
					<string>PowerLayout.plist</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
